.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-grey-10);
  min-height: 100vh;
}

.sectionImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImage {
  width: 80%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  padding: 70px 50px;
  gap: 20px;
}

.wrapTitle h3 {
  line-height: 1;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--clr-grey-1);
  text-transform: capitalize;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: var(--clr-primary-5);
}

.content p {
  line-height: 2;
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-align: justify;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.stack div {
  border-radius: 4px;
  background-color: var(--clr-grey-9);
  padding: 7px;
}

.stackTitle {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  font-size: 0.85rem;
  line-height: 1.5;
}
