@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 20px 15px !important;
  }
  .content {
    padding: 20px 15px !important;
  }
}
@media screen and (max-width: 520px) {
  .wrapTitle h3 {
    font-size: 1.5rem !important;
    line-height: 1.7rem !important;
  }
  .content p {
    font-size: 0.95rem !important;
    line-height: 1.2rem !important;
  }
  .stackTitle {
    font-size: 0.73rem !important;
    line-height: 1rem !important;
  }
}

@media screen and (max-width: 410px) {
  .content p {
    font-size: 0.85rem !important;
    line-height: 1rem !important;
    letter-spacing: -0.3px;
  }
  .stackTitle {
    font-size: 0.83rem !important;
    line-height: 1rem !important;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-grey-10);
  min-height: 100vh;
}

.sectionImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImage {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  padding: 70px 50px;
  gap: 20px;
}

.wrapTitle h3 {
  line-height: 1;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--clr-grey-1);
  text-transform: capitalize;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: var(--clr-primary-5);
}

.content p {
  line-height: 2;
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-align: justify;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.stack div {
  border-radius: 4px;
  background-color: var(--clr-grey-9);
  padding: 7px;
}

.stackTitle {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  font-size: 0.85rem;
  line-height: 1.5;
}
