@media screen and (max-width: 750px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .mobile {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 23px 50px;
  z-index: 700;
}

.list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.desktop a {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300;
  color: var(--color-black);
}

.desktop a:hover {
  text-decoration: underline;
  text-decoration-color: var(--clr-primary-6);
  color: var(--clr-primary-6);
}

.active {
  text-decoration: underline;
  text-decoration-color: var(--clr-primary-6);
  color: var(--clr-primary-6) !important;
}
.mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.iconMobile {
  fill: var(--clr-primary-6);
}

.mobile:hover .iconMobile {
  fill: var(--clr-primary-3);
}
